# Ignore virtual environment
venv/

# Ignore Python cache files
__pycache__/
*.pyc
*.pyo

# Ignore database files
*.sqlite3

# Ignore environment variables
.env

# Ignore Django static files
staticfiles/

.idea
